<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs309.a1.player"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".activities.MainMenu"
            android:label="@string/application_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RulesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.ConnectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.ConnectionFailActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".activities.GameResultsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.PauseMenuActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".activities.QuitApplicationActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".activities.QuitGameActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".activities.ShowCardsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="cs309.a1.shared.activities.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_device_list"
            android:screenOrientation="landscape" />
    </application>

</manifest>