<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs309.a1.gameboard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".activities.MainMenu"
            android:label="@string/application_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.ConnectActivity" />
        <activity android:name=".activities.ConnectionFailActivity" />
        <activity android:name=".activities.GameboardActivity" />
        <activity android:name=".activities.GameResultsActivity" />
        <activity
            android:name=".activities.PauseMenuActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar.MinWidth" />
        <activity android:name=".activities.QuitAppicationActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar.MinWidth" />
        <activity android:name=".activities.QuitGameActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar.MinWidth" />
        <activity android:name=".activities.RulesActivity" />
    </application>

</manifest>